composer.phar
.DS_Store
Thumbs.db
.settings
.project
.buildpath
vendor/.git
.env*.php*
.idea

environment/*
www/*
logs/*
docker/data/*

!www/.gitkeep
!docker/data/.gitkeep
!logs/.gitkeep
!environment/sample.env
